{% extends 'app/layout.html.twig' %}

{% block title %}{{ region.flag }} {{ region.name }} - {{ welcome.title }}{% endblock %}

{% block content %}

<div class="flex h-48">
    {{ include('app/list/map.html.twig') }}
    {{ include('app/list/chart.html.twig') }}
</div>

<div class="mt-5">
    {{ include('app/list/header.html.twig') }}
</div>

<main class="mt-5">
    <div class="flex justify-between mb-3 text-sm text-gray-600">
        <div>
            {{ '{count} new mappers ({percent} %) have already been welcomed'|trans({'{count}': region.count.count, '{percent}': region.count.percentage}) }}
        </div>
        {% if region.lastUpdate is not null %}
        <div>
            {{ 'Last update'|trans }}:
            <time class="cursor-help" datetime="{{ region.lastUpdate|date('c') }}" title="{{ region.lastUpdate|format_datetime('medium') }}">{{ region.lastUpdate|ago }}</time>
        </div>
        {% endif %}
    </div>

    {{ include('app/list/table.html.twig') }}
</main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list') }}
{% endblock %}