{% extends 'app/layout.html.twig' %}

{% block title %}{{ region.flag }} {{ region.name }} - {{ app.title }}{% endblock %}

{% block content %}

{{ include('app/list/header.html.twig') }}

<main class="pt-5">
    {{ include('app/list/table.html.twig') }}
</main>

{% endblock %}