{% extends 'app/layout.html.twig' %}

{% block title %}{{ region.flag }} {{ region.name }} - {{ welcome.title }}{% endblock %}

{% block content %}

<div class="flex h-48 mb-5">
    {{ include('app/list/map.html.twig') }}
    {{ include('app/list/chart.html.twig') }}
</div>

{{ include('app/list/header.html.twig') }}

<main class="pt-5">
    {{ include('app/list/table.html.twig') }}
</main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list') }}
{% endblock %}