{% extends 'app/layout.html.twig' %}

{% block title %}{{ region.flag }} {{ region.name }} - {{ welcome.title }}{% endblock %}

{% block content %}

<div class="flex h-48">
    {{ include('app/list/map.html.twig') }}
    {{ include('app/list/chart.html.twig') }}
</div>

<div class="mt-5">
    {{ include('app/list/header.html.twig') }}
</div>

<main class="mt-5">
    <div class="flex justify-between mb-3 text-sm text-gray-600">
        <div>
            {{ '{count} new mappers ({percent} %) have already been welcomed'|trans({'{count}': region.count.count, '{percent}': region.count.percentage}) }}
        </div>
        {% if region.lastUpdate is not null %}
        <div>
            {{ 'Last update'|trans }}:
            <time class="cursor-help" datetime="{{ region.lastUpdate|date('c') }}" title="{{ region.lastUpdate|format_datetime('medium') }}">{{ region.lastUpdate|ago }}</time>
        </div>
        {% endif %}
    </div>

    {{ include('app/list/table.html.twig') }}

    <div class="text-center mt-3 text-sm text-gray-600">
        <a href="https://osmcha.org/api/v1/aoi/{{ region['osmcha.id'] }}/changesets/feed/" class="flex items-center gap-1">
            <!-- Heroicon name: mini/rss -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                <path d="M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17 8.82 11.18 3 4 3h-.25z" />
                <path d="M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0 01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0 013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>

            {{ 'Download OSMCha RSS feed'|trans }}
        </a>
    </div>
</main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list') }}
{% endblock %}