<div class="max-w-3xl mx-auto md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl">
    <div class="flex items-center space-x-5">
        <div class="flex-shrink-0">
            <div class="relative">
                {% if mapper.image is not null %}
                <img class="h-16 w-16 rounded-full border" src="{{ mapper.image }}"
                    alt="{{ mapper.displayName }} profile picture">
                {% else %}
                <img class="h-16 w-16 rounded-full border" src="{{ asset('build/images/avatar_large.png') }}"
                    alt="Default profile picture">
                {% endif %}
                <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
            </div>
        </div>
        <div>
            <h1 class="text-2xl font-bold text-gray-900">{{ mapper.displayName }}</h1>
            <p class="text-sm font-medium text-gray-500">
                {% set date = mapper.accountCreated | format_date('long') %}
                {{ 'Mapper since %date%' | trans({'%date%': date}) }}
            </p>
        </div>
    </div>
    <div
        class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
        <a class="inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            target="_blank" href="https://www.openstreetmap.org/user/{{ mapper.displayName }}">
            {{ 'Profile' | trans }}
        </a>
        <a class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"
            title="How did you contribute to OpenStreetMap?"
            target="_blank" href="https://hdyc.neis-one.org/?{{ mapper.displayName }}">
            HDYC
        </a>
    </div>
</div>