<section aria-labelledby="notes-title">
    <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden">
        <div class="divide-y divide-gray-200">
            <div class="px-4 py-5 sm:px-6">
                <h2 id="notes-title" class="text-lg font-medium text-gray-900">Notes</h2>
            </div>
            <div class="px-4 py-6 sm:px-6">
                <ul class="space-y-8">
                    {% for note in mapper.notes | sort((a, b) => a.date <=> b.date) %}
                    <li>
                        <div class="flex space-x-3">
                            <div class="flex-shrink-0">
                                {% if mapper.image is not null %}
                                <img class="h-10 w-10 rounded-full border" src="{{ mapper.image }}"
                                    alt="{{ mapper.displayName }} profile picture">
                                {% else %}
                                <img class="h-10 w-10 rounded-full border"
                                    src="{{ asset('build/images/avatar_large.png') }}"
                                    alt="Default profile picture">
                                {% endif %}
                            </div>
                            <div>
                                <div class="text-sm">
                                    <a class="font-medium text-gray-900" target="_blank"
                                        href="https://www.openstreetmap.org/user/{{ note.author.displayName }}">
                                        {{ note.author.displayName }}
                                    </a>
                                </div>
                                <div class="mt-1 text-sm text-gray-700">
                                    <p>{{ note.text | markdown_to_html }}</p>
                                </div>
                                <div class="mt-2 text-sm space-x-2">
                                    <span class="text-gray-500 font-medium">
                                        {{ note.date | format_datetime('medium') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <p class="italic text-gray-500">{{ 'No note.' | trans }}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="bg-gray-50 px-4 py-6 sm:px-6">
            <div class="flex space-x-3">
                <div class="flex-shrink-0">
                    <img class="h-10 w-10 rounded-full"
                        src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=256&amp;h=256&amp;q=80"
                        alt="">
                </div>
                <div class="min-w-0 flex-1">
                    {{ form_start(formNote) }}

                    {{ form_row(formNote.text, {label_attr: {class: 'sr-only'}, attr: {placeholder: ('Add a note' |
                    trans), rows: 3, class: 'shadow-sm block w-full p-2 focus:ring-blue-500 focus:border-blue-500
                    sm:text-sm border border-gray-300 rounded-md'}}) }}

                    {{ form_errors(formNote) }}

                    <div class="mt-3 flex items-center justify-between">
                        <a class="group inline-flex items-start text-sm space-x-2 text-gray-500 hover:text-gray-900"
                            target="_blanl" href="https://daringfireball.net/projects/markdown/">
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                x-description="Heroicon name: solid/question-mark-circle"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>
                                {{ 'Markdown is allowed.' | trans }}
                            </span>
                        </a>
                        {{ form_widget(formNote.submit, {attr: {class: 'inline-flex items-center justify-center px-4
                        py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600
                        hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500'}}) }}
                    </div>

                    {{ form_end(formNote) }}
                </div>
            </div>
        </div>
    </div>
</section>