<section class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
    <h2 id="timeline-title" class="text-lg font-medium text-gray-900">{{ 'Timeline' | trans }}</h2>

    <!-- Activity Feed -->
    <div class="mt-6 flow-root">
        <ul class="-mb-8">

            {% if mapper.welcome.reply is defined and mapper.welcome.reply is not null %}
            <li>
                <div class="relative pb-8">
                    <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">
                        <div>
                            <span
                            class="h-8 w-8 rounded-full bg-yellow-400 flex items-center justify-center ring-8 ring-white">
                                <!-- Heroicon name: outline/inbox-in -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-2m-4-1v8m0 0l3-3m-3 3L9 8m-5 5h2.586a1 1 0 01.707.293l2.414 2.414a1 1 0 00.707.293h3.172a1 1 0 00.707-.293l2.414-2.414a1 1 0 01.707-.293H20" />
                                </svg>
                            </span>
                        </div>
                        <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                                <p class="text-sm text-gray-500">
                                    {% set userlink = '<a class="font-medium text-gray-900" target="_blank" href="https://www.openstreetmap.org/user/' ~ mapper.displayName ~ '">' ~ mapper.displayName ~ '</a>' %}
                                    {{ '{userlink} has replied' | trans({'{userlink}': userlink}) | raw }}
                                </p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                                <time datetime="{{ mapper.welcome.reply | date('c') }}">
                                    {{ mapper.welcome.reply | format_date('medium') }}
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}

            {% if mapper.welcome.date is defined and mapper.welcome.date is not null %}
            <li>
                <div class="relative pb-8">
                    <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">
                        <div>
                            <span
                                class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                                <!-- Heroicon name: outline/chat -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                                </svg>
                            </span>
                        </div>
                        <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                                <p class="text-sm text-gray-500">
                                    {% set userlink = '<a class="font-medium text-gray-900" target="_blank" href="https://www.openstreetmap.org/user/' ~ mapper.welcome.user.displayName ~ '">' ~ mapper.welcome.user.displayName ~ '</a>' %}
                                    {{ 'Welcomed by {userlink}' | trans({'{userlink}': userlink}) | raw }}
                                </p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                                <time datetime="{{ mapper.welcome.date | date('c') }}">
                                    {{ mapper.welcome.date | format_date('medium') }}
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}

            {% for changeset in changesets | sort((a, b) => a.createdAt <=> b.createdAt) | reverse %}
            <li>
                <div class="relative pb-8">
                    <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">
                        <div>
                            <span
                                class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                                <!-- Heroicon name: outline/pencil -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </span>
                        </div>
                        <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                                <p class="text-sm text-gray-500">
                                    {{ 'Changeset' | trans }}
                                    <a class="font-medium text-gray-900" target="_blank" href="https://www.openstreetmap.org/changeset/{{ changeset.id }}">
                                        #{{ changeset.id }}
                                    </a>
                                </p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                                <time datetime="{{ changeset.createdAt | date('c') }}">
                                    {{ changeset.createdAt | format_date('medium') }}
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}

            <li>
                <div class="relative pb-8">
                    <div class="relative flex space-x-3">
                        <div>
                            <span
                                class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white">
                                <!-- Heroicon name: solid/user -->
                                <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>
                        </div>
                        <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                                <p class="text-sm text-gray-500">{{ 'Account created' | trans }}</p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                                <time datetime="{{ mapper.accountCreated | date('c') }}">{{ mapper.accountCreated |
                                    format_date('medium') }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>