{% extends 'app/layout.html.twig' %}

{% block title %}{{ welcome.title }}{% endblock %}

{% block content %}

<div class="flex-1 min-w-0">
    <p>
        {{ 'This is the OpenStreetMap Welcome Tool.\r\nIt helps you discover new mappers in your region and welcome them.'|trans|nl2br }}
    </p>
    <p>
        {{ 'If you want to add your region or your language to the Welcome Tool, check our {contributing_link_start}contributing guide{link_end}.'|trans({'{contributing_link_start}': '<a class="text-indigo-600 hover:text-indigo-900" target="_blank" href="https://github.com/osmbe/osm-welcome-tool/blob/2.x/CONTRIBUTING.md">', '{link_end}': '</a>'})|raw }}
    </p>
    <p class="mt-3 text-sm">
        {{ 'Developed by {osmbe_link_start}OpenStreetMap Belgium{link_end} and supported by the {lccwg_link_start}Local Chapters and Communities Working Group{link_end}.'|trans({'{osmbe_link_start}': '<a class="text-indigo-600 hover:text-indigo-900" target="_blank" href="https://openstreetmap.be/">', '{lccwg_link_start}': '<a class="text-indigo-600 hover:text-indigo-900" target="_blank" href="https://wiki.osmfoundation.org/wiki/Local_Chapters_and_Communities_Working_Group">', '{link_end}': '</a>'})|raw }}
    </p>
</div>

<ul role="list" class="mt-5 mb-3 divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">

{% for continent, group in regions %}

{% if group|length > 0 %}
<li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
    <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-900">
            <a href="{{ path('app_continent', {continent}) }}">
            <span class="absolute inset-x-0 -top-px bottom-0"></span>
            {{ continent|trans }}
            </a>
        </p>
        <p class="mt-1 flex text-xs leading-5 text-gray-500">
            {{ group|length }} {{ 'regions'|trans }}
        </p>
        </div>
    </div>
</li>
{% endif %}

{% endfor %}

</ul>

{% endblock %}