{% extends 'app/layout.html.twig' %}

{% block title %}{{ welcome.title }}{% endblock %}

{% block content %}

<div class="flex-1 min-w-0">
    <p>
        {{ 'This is the OpenStreetMap Welcome Tool.\r\nIt helps you discover new mappers in your region and welcome them.'|trans|nl2br }}
    </p>
    <p>
        {{ 'If you want to add your region or your language to the Welcome Tool, check our {contributing_link_start}contributing guide{link_end}.'|trans({'{contributing_link_start}': '<a class="text-indigo-600 hover:text-indigo-900" target="_blank" href="https://github.com/osmbe/osm-welcome-tool/blob/2.x/CONTRIBUTING.md">', '{link_end}': '</a>'})|raw }}
    </p>
    <p class="mt-3 text-sm">
        {{ 'Developed by {osmbe_link_start}OpenStreetMap Belgium{link_end} and supported by the {lccwg_link_start}Local Chapters and Communities Working Group{link_end}.'|trans({'{osmbe_link_start}': '<a class="text-indigo-600 hover:text-indigo-900" target="_blank" href="https://openstreetmap.be/">', '{lccwg_link_start}': '<a class="text-indigo-600 hover:text-indigo-900" target="_blank" href="https://wiki.osmfoundation.org/wiki/Local_Chapters_and_Communities_Working_Group">', '{link_end}': '</a>'})|raw }}
    </p>
</div>

<div class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
    {% for key, region in regions %}
    <div
        class="relative rounded-lg border border-gray-300 bg-white p-4 shadow-sm flex items-start space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
        <div class="flex-shrink-0">
            {{ region.flag }}
        </div>
        <div class="flex-1 min-w-0">
            <a href="{{ path('app_list', {regionKey: key}) }}" class="focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="font-medium text-gray-900">
                    {{ region.name|trans }}
                </p>
                <p class="text-xs text-gray-500 truncate">
                    {{ 'Last update'|trans }}:
                    <time datetime="{{ region.lastUpdate|date('c') }}">{{ region.lastUpdate|format_datetime('medium') }}</time>
                </p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}